.commentBox {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    padding:20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputBox {
    margin-bottom: 20px;
    padding: 20px 30px 50px 30px;
    border: 1px solid hsl(223, 19%, 93%);
    border-radius: 10px;
    resize: none;
    font-size: 16px;
    width: 100%;
}

.inputBox:focus {
    outline: none !important;
    border:2px solid var(--moderateBlue);
}

.icon {
    width: 42px;
    height: 42px;
    background-size: cover;
}

.sendBtn {
    background-color: hsl(238, 40%, 52%);
    padding: 16px 24px;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.sendBtn:hover {
    opacity: 50%;
}

@media (min-width: 768px) {
    .commentBox {
        max-width:800px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    .icon {
        order: 1;
    }

    .inputBox {
        order: 2;
    }

    .sendBtn {
        order:3;
    }
}