.comment {
   background-color:#fff;
   padding: 20px;
   border-radius: 10px;
   width:90%;
   margin: 10px 0;
}

/* Header styles */
.commentHeader {
   display:flex;
   justify-content:flex-start;
   align-items:center;
}

.commentHeader__icon {
   /* background-image: url(../../assets/avatars/image-juliusomo.png); */
   width: 42px;
   height: 42px;
   /* background-size: cover; */
}

.commentHeader__userName {
   margin-left: 1rem;
   font-weight: 500;
}

.commentHeader__datePosted {
   margin-left: 1rem;
   color: var(--grayishBlue);
}

/* Comment content styles */
.comment__content {
   margin: 1rem 0;
}

/* Score styles */
.increment {
   border: none;
   border-radius: 5px 0 0 5px;
   padding:8px 10px;
   color: var(--lightGrayishBlue);
   font-size: 16px;
}

.score {
   border: none;
   border-radius: 0;
   padding:8px 10px;
   color: var(--moderateBlue);
   font-size: 16px;
}

.decrement {
   border: none;
   border-radius: 0 5px 5px 0;
   padding:8px 10px;
   color: var(--lightGrayishBlue);
   font-size: 16px;
}

/* Footer styles */
.commentFooter {
   display:flex;
   justify-content:space-between;
   align-items:center;
}

.replyIcon {
   background-image: url(../../assets/images/icon-reply.svg);
   width: 16px;
   height: 16px;
   background-repeat: no-repeat;
   margin-right: 4px;
}

.comment__replyBtn {
   color: var(--moderateBlue);
   font-weight: bold;
   display:flex;
   align-items:center;
   margin-left:1rem;
}